
.img1 {
    width: 80%;
    height: 60px;
}
.img2 {
    margin-top: 20px;
    width: 80%;
    height: 60px;
}
.img3 {
    margin-top: 26px;
    width: 80%;
    height: 60px;
}
.paragraph {
    line-height: 1px;
}
